{{#each allProducts}}
<ul>
    <li>{{this.title}}</li>
    <li>{{this.description}}</li>
    <li>{{this.price}}</li>
    <li>{{this.code}}</li>
    <li>{{this.category}}</li>
    <li>{{this.stock}}</li>
</ul>
{{/each}}
